.pagestarter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.pagestarter.hide {
  display: none;
}
.pagestarter h6 {
  color: #555;
  font-weight: 500;
  font-size: 13px;
}
.pagestarter h3 {
  font-size: 23px;
  text-align: center;
}
.pagestarter img {
  width: 240px;
}
.pagestarter .adminbtn {
  margin-top: 20px;
}