.adminsidebar {
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  width: 100%;
  height: 100vh;
  z-index: 990;
  display: flex;
  flex-direction: column;
  padding: 17px 0 20px 0;
  background: #fff;
}
.adminsidebar .logocont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.adminsidebar .logocont h4 {
  color: var(--graytxt);
  font-size: 18px;
}
.adminsidebar .logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(211, 215, 222,0.8);
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.adminsidebar .logodiv hr {
  height: 20px;
  width: 2px;
  background: rgba(56, 106, 255,0.2);
  margin: 3px;
}
.adminsidebar .logodiv hr:first-child {
  transform: rotate(25deg)
}
.adminsidebar .logodiv hr:last-child {
  transform: rotate(-25deg)
}
.adminsidebar .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 0 20px;
  gap: 2px;
}
.adminsidebar .menu .menulink {
  color: var(--graytxt);
  font-weight: 500;
  opacity: 0.7;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.2s;
  text-transform: capitalize;
}
.adminsidebar .menu .sublinkcont {
  max-height: 0;
  overflow: hidden;
  padding: 0 5px;
}
.adminsidebar .menu .sublinkcont.open {
  max-height: 300px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}
.adminsidebar .menu .menulink span i {
  margin-right: 8px;
  width: 20px;
}
.adminsidebar .menu .menulink i.fa-angle-up {
  font-size: 22px;
  transform: rotate(0);
  transition: all 0.3s;
}
.adminsidebar .menu .activemenulink i.fa-angle-up {
  transform: rotate(180deg);
}
.adminsidebar .menu .adminlink {
  border-radius: 10px;
  cursor: pointer;
}
.adminsidebar .menu .activemenulink, .adminsidebar .menu .menulink:hover,
.adminsidebar .menu .activemenulink i, .adminsidebar .menu .menulink:hover i {
  color: var(--admincolor);
  opacity: 1;
}
.adminsidebar .menu .activemenulink, .adminsidebar .menu .menulink:hover {
  background: rgba(56, 106, 255,0.1);
}

.adminsidebar .addnewbtn {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adminsidebar .addnewbtn img {
  width: 30px;
}