.dashboardpage {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  grid-gap: 20px;
}
.dashboardpage .saleschart {
  grid-column: 1/4
}
.dashboardpage .chartcont {
  width: 100%;
}
.dashboardpage .chartcont.piecont {
  height: 320px;
}
.dashboardpage .chartcont h6 {
  color: var(--graytxt);
  font-size: 12px;
} 