.dashboardpage {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  grid-gap: 20px;
}
.dashboardpage .dashboxcont, .dashboardpage .salesgrid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  grid-gap: 20px;
}
.dashboardpage .dashboxcont.hide {
  display: none;
}
.dashboardpage .saleschart {
  grid-column: 1/4
}
.dashboardpage .chartcont {
  width: 100%;
}
.dashboardpage .chartcont.piecont {
  height: 350px;
}
.dashboardpage .chartcont h6 {
  color: var(--graytxt);
  font-size: 12px;
} 
.dashtable {
  grid-column: 1/-1;
  padding: 30px;
}
.producttable.dashtable > .header h5 {
  font-size: 13px;
}
.producttable > .content h5 {
  font-weight: 500;
  flex-basis: 20%;
}
.producttable.dashtable > .header h5:last-child,
.producttable.dashtable > .content h5:last-child {
  flex-basis: 110px;
}
.producttable > .content h5 span {
  font-size: 13px;
  color: #111;
}
.producttable > .content h5 small {
  color: #888;
  font-size: 13px;
}
.producttable > .content h5.labels div {
  margin: 3px 0;
  display: flex;
  align-items: center;
}
.producttable > .content h5.labels span {
  margin-right: 5px;
}
.producttable > .content .imgcell {
  flex-basis: 20%;
}
.dashboardpage .producttable > .content img {
  width: 60px;
}
.dashtable .content .proditem {
  padding: 10px 0;
  gap: 10px;
}
.dashtable.orderstable .content .proditem {
  padding: 20px 0;
}
.dashtable .foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 0 10px 0;
}
.dashtable .foot h5 {
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}
.dashtable .foot h5 span {
  font-weight: 600;
}
.orderstable.producttable .proditem h5:first-child {
  text-transform: uppercase;
}
.orderstable.producttable .proditem h5:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--admincolor);
}
.updatesbox {
  grid-column: span 2;
}
.dashboardpage .dashtable .ordstatus span {
  background: var(--light);
  color: var(--admincolor);
  padding: 5px 8px;
  border-radius: 5px;
}