.logocont {
  display: flex;
  align-items: center;
}
.logocont.b-w {
  filter: grayscale(100%) brightness(90%);
}
.logocont img {
  width: 50px;
}
.logocont h5 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  margin-left: 5px;
  display: none;
}
.logocont h5 span {
  font-weight: 600;
  color: var(--color);
}
.logocont.text h5 {
  display: block;
}