.logocont {
  display: flex;
  align-items: center;
}
.logocont img {
  width: 50px;
}
.logocont h5 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  margin-left: 5px;
}
.logocont h5 span {
  font-weight: 600;
  font-size: 25px;
  color: var(--skyblue);
}