.shopcontent {
  width: 100%;
}
.shopcontent .categbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  user-select: none;
}
.shopcontent .categbar > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.shopcontent .categbar .categories {
  gap: 25px;
}
.shopcontent .categbar .appselect {
  display: flex;
  align-items: center;
}
.shopcontent .categbar .appselect option {
  text-indent: 15px;
}
.shopcontent .categbar .appselect i {
  font-size: 17px;
  color: #555;
}
.shopcontent .categbar > div i {
  color: rgba(0,0,0,0.15);
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px;
}
.shopcontent .categbar > div i:hover, .shopcontent .categbar > div i.active {
  color: var(--color);
}
.shopcontent .categbar small {
  color: #777;
  transition: all 0.2s;
  cursor: pointer;
  text-transform: capitalize;
}
.shopcontent .categbar small:hover, .shopcontent .categbar small.active {
  color: var(--color);
}
.shopcontent .categbar h6 {
  color: #555;
  font-size: 12px;
}
.shopcontent .categbar .appselect {
  margin-left: 10px;
}
.shopcontent .categbar select {
  height: auto;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.shopcontent .categbar select {
  text-transform: capitalize;
}
.shopcontent .productscontent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 25px;
  margin-top: 40px;
}
.shopcontent .paginatorrow {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  user-select: none;
}
.shopcontent .paginatorrow .left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.shopcontent .paginatorrow .left hr {
  background: #ccc;
  width: 1px;
  height: 20px;
}
.shopcontent .paginatorrow h5 {
  color: #555;
  font-size: 15px;
  font-weight: 500;
}
.shopcontent .paginatorrow select {
  width: 60px;
  padding: 5px 2px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0 8px;
  font-size: 15px;
  text-transform: capitalize;
}
.shopcontent .paginrowscont {
  display: flex;
  align-items: center;
  gap: 5px;
}
.shopcontent .paginrowscont .paginator {
  display: flex;
  align-items: center;
  gap: 5px;
}
.shopcontent .paginrowscont .navbox {
  width: 35px;
  height: 35px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  cursor: pointer;
  transition: all 0.2s;
}
.shopcontent .paginrowscont .navbox:hover {
  background: #ddd;
}
.shopcontent .paginrowscont .navbox small {
  font-size: 20px;
}
.shopcontent .paginrowscont .navbox.faded {
  opacity: 0.3;
  pointer-events: none;
}
.shopcontent .paginrowscont .navbox.active {
  background: #222;
  color: #fff;
}