.settingspage {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 30px;
  align-items: flex-start;
}
.settingspage .pagecont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settingspage .pagecont .titlesrow {
  margin-bottom: 20px;
}
.userprofilecont {
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userprofilecont .profimgcont {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.userprofilecont .profimgcont img {
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: 100%;
  cursor: pointer;
}
.userprofilecont .profimgcont .iconcont {
  position: absolute;
  bottom: 15px;
  right: 0px;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  opacity: 0;
  transition: all 0.2s;
}
.userprofilecont .profimgcont:hover .iconcont {
  opacity: 1;
}
.userprofilecont .profimgcont .iconcont i {
  color: var(--admincolor);
}
.userprofilecont > h4 {
  margin-top: 10px;
  color: var(--graytxt);
  font-size: 17px;
}
.userprofilecont > h6 {
  color: #aaa;
  font-weight: 500;
  font-size: 13px;
}
.userprofilecont .infotab {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.userprofilecont .infotab h4 {
  font-size: 15px;
  color: #aaa;
  font-weight: 500;
  margin-bottom: 10px;
}
.userprofilecont .infotab h6 {
  color: var(--graytxt);
  font-size: 13px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userprofilecont .infotab h6 span {
  font-weight: 500;
}

.settingspage .tabsbar {
  margin-top: 0;
}
.settingspage h4.settingstitle {
  font-size: 15px;
  color: var(--graytxt);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  grid-column: 1/-1;
  font-weight: 500;
}
.settingspage section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 30px 40px;
  align-items: flex-start;
}
.settingspage section .commoninput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.settingspage section .appswitch {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.settingspage section .appswitch h6 {
  margin-bottom: 0;
}
.settingspage section .appinput input,
.settingspage section .appselect select {
  border-radius: 10px;
  background: #f5f5f5;
  border: 1px solid #eee;
  flex-basis: 65%;
  color: #444;
}
.settingspage section .appinput.descriptinput {
  justify-content: space-between;
}
.settingspage section .appinput.descriptinput > div {
  width: 65%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
}
.settingspage section .appinput.descriptinput input {
  width: 100%;
}
.settingspage section .commoninput h6 {
  font-size: 13px;
  color: var(--graytxt);
}
.settingspage .passinput i {
  right: 10px;
  color: var(--graytxt);
  opacity: 0.8;
  cursor: pointer;
}
.settingspage section .infocont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}
.settingspage section .infocont > div {
  display: flex;
  justify-content: space-between;
}
.settingspage section .infocont > div p {
  font-size: 14px;
  color: #111;
}
.settingspage section .infocont > div span {
  font-size: 14px;
  color: #555;
}
.settingspage section .infocont > div a {
  text-decoration: underline;
  color: var(--admincolor);
}
.settingspage .appswitch h6 i {
  font-size: 15px;
  margin-right: 10px;
}
.settingspage .actioninput {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingspage .actioninput h6 {
  color: var(--graytxt);
  font-size: 12px;
}
.settingspage .actioninput .adminbtn {
  height: 35px;
  border-color: var(--admincolor);
}
.settingspage .actioninput .adminbtn span {
  font-size: 13px;
  color: var(--admincolor);
}
.settingspage .actioninput .adminbtn:hover span {
  color: #fff;
}
.settingspage .producttable {
  grid-column: 1/-1;
}
.settingspage .producttable .content h5,
.settingspage .producttable .header h5,
.settingspage .producttable .header h5:first-child {
  flex-basis: 30%;
}
.settingspage .producttable > .content h5:last-child,
.settingspage .producttable > .header h5:last-child {
  flex-basis: 80px;
}
.settingspage .producttable .content h5:first-child {
  color: var(--admincolor);
  flex-basis: 30%; 
}
.settingspage .producttable .appswitch {
  border: none;
  padding: 5px 10px;
}
.settingspage .themepicker input{
  padding: 5px 10px;
  height: 45px;
}