.adminsupportpage .faqcont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adminsupportpage .faqcont > div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  grid-gap: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
}
.adminsupportpage .faqcont div > h6 {
  font-size: 15px;
  color: #555;
  grid-column: 1/-1;
  margin-top: 30px;
}
.adminsupportpage .faqcont .appaccordion .header {
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.adminsupportpage .faqcont .appaccordion .content {
  padding: 0;
}
.adminsupportpage .faqcont .appaccordion .content p {
  font-size: 14px;
  color: #444;
  padding: 10px;
}