.adminchatwindow {
 width: 100%;
 background: #fff;
 border: 1px solid #f1f1f1;
 border-left: none;
}
.nochatcont {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}