.adminchatwindow {
 width: 100%;
 min-height: 87vh;
 background: #fff;
}
.nochatcont {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}