.adminchatsidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background: #f5f6fc;
  border: 1px solid #badeff33;
  border-right: none;
}
.adminchatsidebar::-webkit-scrollbar {
  display: none;
}
.adminchatsidebar .tabsbar {
  margin: 0;
}
.adminchatsidebar .tabsbar .tabstitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.adminchatsidebar .tabsbar .tabline {
  height: 2px;
  background: #f7f7f7;
}
.adminchatsidebar .tabsbar h5 {
  padding: 24px 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s
}
.adminchatsidebar .tabsbar h5:hover {
  background: rgba(255,255,255,0.8);
  border-radius: 7px 7px 0 0;
}
.adminchatsidebar .archiveslistcont > h5 {
  color: #aaa;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
.adminchatsidebar .chatslistcont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.adminchatsidebar .chatslistcont .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  padding: 10px;
}
.adminchatsidebar .chatslistcont .searchbar .appinput {
  width: 100%;
}
.adminchatsidebar .chatslistcont .searchbar input {
  border: none;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
}
.adminchatsidebar .chatslistcont .searchbar input:focus {
  border: 1px solid var(--admincolor);
}
.adminchatsidebar .newchatrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.adminchatsidebar .newchatrow:hover {
  background: var(--admincolor);
}
.adminchatsidebar .newchatrow h5 {
  color: #555;
}
.adminchatsidebar .newchatrow i {
  color: #555;
  font-size: 17px;
}
.adminchatsidebar .newchatrow:hover h5, 
.adminchatsidebar .newchatrow:hover i {
  color: #fff;
}