.adminchatsidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background: #f5f6fc;
}
.adminchatsidebar::-webkit-scrollbar {
  display: none;
}
.adminchatsidebar .tabsbar {
  margin: 0;
  margin-top: 10px;
}
.adminchatsidebar .tabsbar .tabstitles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.adminchatsidebar .tabsbar h5 {
  padding: 10px;
}
.adminchatsidebar .chatslistcont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.adminchatsidebar .chatcard {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
}
.adminchatsidebar .chatcard.active,
.adminchatsidebar .chatcard:hover {
  background: #fff;
}
.adminchatsidebar .chatcard img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.adminchatsidebar .chatcard h5 {
  font-size: 13px;
  color: #333;
}
.adminchatsidebar .chatcard small {
  font-size: 11px;
  color: #555;
  font-weight: 500;
  white-space: nowrap;
}
.adminchatsidebar .chatcard > div {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.adminchatsidebar .chatcard .optscont {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 100%;
}
.adminchatsidebar .chatcard .optscont:hover {
  background: var(--light)
}
.adminchatsidebar .chatcard .optscont i {
  color: #aaa;
  font-size: 17px;
}
