.orderspage .producttable > .header h5:first-child,
.orderspage .producttable > .content h5:first-child {
  flex-basis: 180px;
}
.orderspage .producttable > .content h5:first-child {
  text-transform: uppercase;
}
.orderspage .producttable > .content h5:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editorderspage .tabsbar {
  width: 100;
  margin-top: 40px;
}
.editorderspage .tabstitles {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}
.editorderspage .tabsbar h5 {
  color: #aaa;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  padding: 8px 0;
}
.editorderspage .tabsbar h5:hover,
.editorderspage .tabsbar h5.active {
  color: var(--admincolor);
}
.editorderspage .tabsbar h5 hr {
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--admincolor);
  bottom: -1px;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}
.editorderspage .tabsbar h5.active hr {
  opacity: 1;
  width: 100%;
}
.editorderspage .tabsbar .tabline {
  width: 100%;
  height: 1px;
  background: #eee;
}
.pagecont .pagemaincontent.ordercontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0;
}
.editorderspage .ordercontent > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  width: 600px;
}
.editorderspage .actionbtns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.editorderspage .actionbtns.final {
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid #eee;
}
.editorderspage .ordernuminp {
  text-transform: uppercase;
}
.editorderspage .adminbtn.genbtn {
  margin-top: 20px;
}
.editorderspage .ordercontent-details {
  display: flex;
}
.editorderspage .detailscontent {
  width: 90%;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editorderspage .detailscontent h4 {
  color: var(--graytxt);
  margin-bottom: 10px;
}
.editorderspage .detailscontent h5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #555;
}
.editorderspage .savedprodscont {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editorderspage .savedprodscont.hide {
  display: none;
}
.editorderspage .savedprodscont h4 {
  color: #555;
  margin-bottom: 10px;
}
.editorderspage .savedprodscont .prodsrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.editorderspage .savedprodscont .prodsrow.active {
  background: var(--light);
}
.editorderspage .savedprodscont .prodsrow .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.editorderspage .savedprodscont .prodsrow img {
  height: 40px;
}
.editorderspage .savedprodscont .prodsrow h6 {
  font-size: 13px;
  color: #555;
}
.editorderspage .savedprodscont .prodsrow span {
  font-size: 13px;
  color: #555;
}
.editorderspage .editsection .inprow {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.editorderspage .editsection .inprow.show {
  display: flex;
}
.editorderspage .editsection .inprow select {
  width: 200px;
}
.editorderspage .editsection .inprow input {
  width: 100px;
}
.editorderspage .savedprodscont .prodsrow .actionsrow {
  display: flex;
  align-items: center;
  gap: 5px;
}
.editorderspage h5.note {
  color: var(--admincolor);
  font-weight: 500;
  font-size: 15px;
}
.editorderspage .shippingmethods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.editorderspage .shippingmethods > a {
  font-size: 13px;
  color: var(--admincolor);
  margin: 20px 0;
}
.editorderspage .shippingmethods > a:hover {
  text-decoration: underline;
}
.shippingoptbox {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.2s;
}
.shippingoptbox.active {
  background: var(--light);
}
.shippingoptbox .activebadge {
  font-size: 11px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background: var(--admincolor);
  color: #fff;
}
.shippingoptbox > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.shippingoptbox h4 {
  font-size: 15px;
  color: #333;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shippingoptbox h6 {
  color: #333;
  font-size: 13px;
}
.shippingoptbox h6 span {
  font-weight: 500;
}
.shippingoptbox h6.upper {
  text-transform: capitalize;
}
.shippingoptbox .morecountries {
  font-size: 13px;
}
.shippingoptbox .morecountries:hover {
  text-decoration: underline;
  cursor: pointer;
}

.updatesaddercont {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  display: none;
  flex-direction: column;
  gap: 20px;
}
.updatesaddercont.show {
  display: flex;
}
.updatesaddercont h5 {
  color: var(--graytxt);
  font-size: 15px;
}
.updatesaddercont .inprow {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.updatesaddercont .inprow .appinput {
  width: 45%;
}
.updatesaddercont .inprow .apptextarea {
  width: 100%;
}
.updatesaddercont .inprow .appinput input {
  width: 100%;
}
.orderupdatescont > h4 {
  color: var(--graytxt);
  margin-bottom: 20px;
}
.orderupdatescont .orderupdaterow {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.orderupdatescont .orderupdaterow h4 {
  color: #333;
}
.orderupdatescont .orderupdaterow > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.orderupdatescont .orderupdaterow h6 {
  font-size: 12.5px;
  color: #333;
}
.orderupdatescont .orderupdaterow h6 span {
  font-weight: 500;
  color: #555;
}
.orderupdatescont .orderupdaterow small {
  display: block;
  font-weight: 500;
  color: #444;
}
.orderupdatescont .orderupdaterow small span {
  font-weight: 600;
  display: block;
}

.ordpaymentsform {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.ordpaymentsform .appswitch {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagecont .pagemaincontent .ordpaymentsform .commoninput.appswitch h6 {
  margin: 0;
}
.ordpaymentsform .appinput,
.ordpaymentsform .appselect {
  width: 45%;
}
.ordpaymentsform .appinput.cardnum {
  width: 100%;
}
.ordpaymentsform .appinput.cardnum input[disabled] {
  opacity: 0.5;
}
.editsection .cusidmsg {
  font-size: 13px;
  color: #777;
  font-weight: 500;
}