.addtocartbtn {
  color: #fff;
  background: #222;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
.addtocartbtn:hover {
  background: #333;
}
.addtocartbtn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.produnitcontrol {
  display: flex;
  align-items: center;
  width: 120px;
}
.produnitcontrol div {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produnitcontrol div:hover:not(.productunits) {
  background: #333;
  color: #fff;
}
.produnitcontrol .productunits {
  cursor: default;
}
