.appaccordion {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  overflow: hidden;
}
.appaccordion.open .content {
  padding-bottom: 40px;
}
.appaccordion .space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.appaccordion .header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.appaccordion .header h5 {
  color: #777;
  display: flex;
  align-items: center;
  gap: 10px;
}
.appaccordion .header h5 img {
  width: 40px;
}
.appaccordion .header i {
  color: #aaa;
  transition: all 0.2s;
}
.appaccordion .header i.up {
  transform: rotate(180deg);
}
.appaccordion .content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: all 0.5s;
}