.navbar {
  position: relative;
  top: 0;
  height: 80px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.05);
  z-index: 990;
  background: #fff;
  transition: all 0.3s;
}
.navbar.fixednav {
  position: fixed;
}
.navbar .grid > div {
  display: flex;
  align-items: center;
}
.navbar .grid {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dealbar {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  padding: 0 20px;
}
.dealbar p {
  font-size: 14px;
  color: #444;
}
.dealbar p span {
  font-weight: 600;
}
.dealbar p a {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 5px;
}
.dealbar i.fa-times {
  font-size: 25px;
  color: #444;
  padding: 5px;
  cursor: pointer;
}
.navbar .menu {
  display: flex;
  align-items: center;
  margin-left: 75px;
}
.navbar .menu a {
  font-size: 13px;
  text-transform: uppercase;
  color: #555;
  margin: 0 20px;
  transition: all 0.2s;
}
.navbar .menu .sublink {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.navbar .menu a.activemenulink, .navbar .menu a:hover {
  color: var(--color)
}
.navbar .menu a hr {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 1px;
  background: #555;
  transition: all 0.2s;
}
.navbar .menu a:hover hr {
  width: 100%;
  background: var(--color);
}
.navbar .right .mobbtn {
  display: none;
}
.navbar .right > div {
  margin-left: 25px;
}
.navbar .right > div i {
  font-size: 15px;
  transition: all 0.2s;
  cursor: pointer;
  color: #555;
}
.navbar .right > div i:hover {
  color: var(--color);
}
.navbar .right > div .numcircle {
  position: absolute;
  top: -5px;
  right: -17px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--color);
  font-size: 11px;
}

@media(max-width: 1080px) {
  .navbar .menu {
    display: none;
  }
  .navbar .right .mobbtn {
    display: block;
    width: 17px;
    cursor: pointer;
  }
  .navbar .right .mobbtn:hover hr {
    background: var(--color);
  }
  .navbar .right .mobbtn hr {
    display: block;
    width: 100%;
    height: 2px;
    background: #aaa;
    margin: 3px 0;
    transition: all 0.2s;
  }
}
@media (max-width: 600px) {
  .dealbar {
    height: 65px;
  }
}
@media(max-width: 360px) {
  .navbar {
    height: 120px;
  }
  .navbar .grid {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .navbar .right {
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar .right > div {
    margin: 0;
  }
  
}