.ordertrackingcont {
  width: 100%;
  padding: 50px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ordertrackingcont form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.ordertrackingcont .btnscont {
  margin-top: 20px;
}
.ordertrackingcont .appinput h6 {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
}
.ordertrackingcont .appinput input {
  border: none;
}
.ordertrackingcont > p {
  font-size: 14px;
  color: #555;
}
.orderresultscont {
  width: 100%;
  margin-top: 30px;
}