.orderprogcont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.orderprogcont .tubecont {
  width: 100%;
  border-radius: 40px;
  background: #f1f2f6;
  overflow: hidden;
}
.orderprogcont .tubecont .progress {
  height: 100%;
  width: 0;
  background: var(--color);
  border-radius: 40px;
  transition: all 1.5s ease;
}
.orderprogcont .tubecont .checkscont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orderprogcont .tubecont .checkscont i {
  color: var(--graytxt);
}
.orderprogcont .tubecont .checkscont i.full {
  color: #fff;
  font-weight: 600;
}
.orderprogcont .subtitlescont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.orderprogcont .subtitlescont small {
  font-size: 13px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orderprogcont .subtitlescont small span {
  display: block;
  font-size: 12px;
  color: #777;
}
.orderprogcont .subtitlescont small:nth-of-type(1) {
  left: -3px;
}
.orderprogcont .subtitlescont small:nth-of-type(2) {
  left: -8px;
}
.orderprogcont .subtitlescont small:nth-of-type(3) {
  left: -8px;
}