.producttable .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.producttable .header h5 {
  flex-basis: 20%;
  color: #444;
  font-weight: 500;
  font-size: 15px;
}
.producttable .header h5:last-child, .producttable .content div:last-child {
  flex-basis: 50px;
}
.producttable img { 
  width: 70px;
  height: 70px;
}
.producttable .content h5 {
  color: #555;
  font-size: 14px;
}
.producttable .proditem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
} 
.producttable .proditem div {
  flex-basis: 20%;
}
.producttable .header h5.small, .producttable .content div.small {
  flex-basis: 12%;
}
.producttable .proditem .prodname {
  display: flex;
  flex-direction: column;
}
.producttable .proditem .prodname h6 {
  font-size: 12px;
  text-transform: capitalize;
}
.producttable .proditem .actionsbox {
  flex-basis: 50px;
}
.producttable .proditem .actionsbox .optsbox {
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.producttable .proditem .actionsbox .optsbox:hover {
  background: #f5f5f5;
}
.producttable .proditem .actionsbox .optionscont {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  background: #fff;
  box-shadow: var(--shadow);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}
.producttable .proditem .actionsbox .optionscont.show {
  visibility: visible;
  opacity: 1;
}
.producttable .proditem .actionsbox .optionscont h6 {
  padding: 8px 12px;
  white-space: nowrap;
  transition: all 0.2s;
}
.producttable .proditem .actionsbox .optionscont h6:hover {
  background: #333;
  color: #fff;
}
.producttable .proditem .actionsbox .optsbox i {
  font-size: 20px;
  color: #aaa;
}
.producttable .proditem h6 {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  display: inline;
}
.producttable .addtocartbtn {
  background: #222;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.producttable .addtocartbtn:hover {
  background: #333;
}
.producttable .proditem .produnitcontrol {
  height: 45px;
  width: auto;
}
.producttable .produnitcontrol > div {
  cursor: pointer;
  background: #f1f1f1;
}
.producttable .produnitcontrol .productunits {
  background: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}