.producttable .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.producttable .header h5 {
  flex-basis: 20%;
  color: #444;
  font-weight: 500;
  font-size: 15px;
}
.producttable .header h5:last-child {
  flex-basis: 50px;
}
.producttable img {
  width: 70px;
  height: 70px;
}
.producttable .content h5 {
  color: #555;
  font-size: 14px;
}
.producttable .proditem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
} 
.producttable .proditem div {
  flex-basis: 20%;
}
.producttable .header h5.small, .producttable .content div.small {
  flex-basis: 12%;
}
.producttable .proditem .prodname {
  display: flex;
  flex-direction: column;
}
.producttable .proditem .prodname h6 {
  font-size: 12px;
}
.producttable .proditem .delete {
  flex-basis: 50px;
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  transition: all 0.2s;
  cursor: pointer;
}
.producttable .proditem .delete:hover {
  background: #ddd;
}
.producttable .proditem .delete i {
  font-size: 24px;
  color: #777;
}
.producttable .proditem h6 {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  display: inline;
}
.producttable .addtocartbtn {
  background: #222;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.producttable .addtocartbtn:hover {
  background: #333;
}
.producttable .proditem .produnitcontrol {
  height: 45px;
  width: auto;
}
.producttable .produnitcontrol > div {
  cursor: pointer;
  background: #f1f1f1;
}
.producttable .produnitcontrol .productunits {
  background: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}