.sectiontitles {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectiontitles h2 {
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.sectiontitles p {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin-top: 7px;
}

@media (max-width: 400px) {
  .sectiontitles h2 {
    text-align: center;
  }
  .sectiontitles p {
    text-align: center;
  }
}