.subscribesection {
  width: 100%;
  margin: 50px 0 80px 0;
}
.subscribeform {
  margin: auto;
  margin-top: 50px;
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px 5px;
  flex-wrap: wrap;
}
.subscribeform .appinput {
  display: flex;
  width: 250px
}
.subscribeform .appinput input {
  height: 50px;
}
.subscribeform .appinput h6 {
  display: none;
}

@media (max-width: 800px) {
  .subscribeform {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .subscribeform {
    flex-direction: column;
    gap: 20px;
  }
  .subscribeform .appbutton,
  .subscribeform .appinput {
    width: 100%;
  }
}