.wishlistpage .wishlisttable {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.wishlisttable > div {
  width: 100%;
}
.wishlistpage .emptylist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
.wishlistpage .emptylist h4 {
  font-size: 20px;
  color: #aaa;
  font-weight: 500;
}
.wishlistpage .emptylist .appbutton {
  margin-top: 20px;
}
.wishlistpage .wishlistinfo {
  margin-top: 20px;
  padding: 15px 0; 
  border-bottom: 1px solid #eee;
}
.wishlistpage .wishlistinfo h6 {
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.wishlistpage .wishlistinfo h6 span:first-child {
  color: #333;
  width: 120px;
}
.wishlistpage .wishlistinfo h6 span:last-child {
  color: rgb(167, 144, 144);
}