.wishlistpage .wishlisttable {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.wishlisttable > div {
  width: 100%;
}
.wishlisttable .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.wishlisttable .header h5 {
  flex-basis: 20%;
  color: #444;
  font-size: 15px;
}
.wishlisttable .header h5:last-child {
  flex-basis: 50px;
}
.wishlisttable img {
  width: 70px;
  height: 70px;
}
.wishlisttable .content {
  margin-top: 30px;
}
.wishlisttable .wishitem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
} 
.wishlisttable .wishitem div {
  flex-basis: 20%;
}
.wishlisttable .wishitem .delete {
  flex-basis: 50px;
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  transition: all 0.2s;
  cursor: pointer;
}
.wishlisttable .wishitem .delete:hover {
  background: #ddd;
}
.wishlisttable .wishitem .delete i {
  font-size: 24px;
  color: #777;
}
.wishlisttable .wishitem h6 {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  display: inline;
}
.wishlistpage .addtocartbtn {
  background: #222;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.wishlistpage .addtocartbtn:hover {
  background: #333;
}
.wishlistpage .wishlisttable .wishitem .produnitcontrol {
  height: 45px;
  width: auto;
}
.wishlistpage .produnitcontrol > div {
  cursor: pointer;
  background: #f1f1f1;
}
.wishlistpage .produnitcontrol .productunits {
  background: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wishlistpage .emptylist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
.wishlistpage .emptylist h4 {
  font-size: 20px;
  color: #aaa;
  font-weight: 500;
}
.wishlistpage .emptylist .appbutton {
  margin-top: 20px;
}
.wishlistpage .wishlistinfo {
  margin-top: 20px;
  padding: 15px 0; 
  border-bottom: 1px solid #eee;
}
.wishlistpage .wishlistinfo h6 {
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.wishlistpage .wishlistinfo h6 span:first-child {
  color: #333;
  width: 120px;
}
.wishlistpage .wishlistinfo h6 span:last-child {
  color: rgb(167, 144, 144);
}