.adminhomecont {
  background: var(--adminbg);
  padding: 90px 20px 40px 20px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.maincontent {
  width: 100%;
}
.pagecont {
  padding: 20px;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.pagecont .actionbtns {
  border-top: 1px solid #eee;
  margin: 20px 0;
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagecont .producttable .header, .producttable .proditem {
  gap: 4px;
}
.pagecont .proditem .fa-badge-check {
  position: absolute;
  left: 50px;
  font-size: 18px;
}
.pagecont .proditem .fa-badge-check.hot {
  color: var(--admincolor);
}
.pagecont .producttable > .header h5 {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 20px;
  transition: all 0.2s;
  user-select: none;
}
.pagecont .producttable > .header h5 span {
  cursor: pointer;
}
.pagecont .producttable .proditem h5 a:hover {
  text-decoration: underline;
}
.pagecont .producttable .header span:hover,
.pagecont .producttable .header span:hover + i,
.pagecont .producttable .header h5.active,
.pagecont .producttable .header h5.active i {
  color: var(--admincolor)
}
.pagecont .producttable .header h5 i {
  color: #555;
  transition: all 0.2s;
}
.pagecont .producttable .header h5:last-child,
.pagecont .producttable .content h5:last-child {
  flex-basis: 110px;
}
.pagecont .producttable .header h5:last-child:hover {
  color: inherit;
}
.pagecont .producttable .content img {
  width: 60px;
}
.pagecont .producttable .content .proditem h5.custimg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.pagecont .producttable .content h5:first-child,
.pagecont .producttable .header h5:first-child {
  flex-basis: 100px;
}
.longidpage .pagecont .producttable .header h5:first-child,
.longidpage .pagecont .producttable .content h5:first-child {
  flex-basis: 220px;
}
.productspage .producttable .content h5.stockcont span {
  padding: 5px 10px;
  background: var(--light);
  border-radius: 5px;
  color: var(--admincolor);
}
.productspage .producttable .content h5.stockcont.nostock span {
  background: var(--red);
}
.pagecont .producttable .content .boxed span {
  background: var(--light);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px;
  max-width: 100px;
  color: var(--admincolor);
  cursor: pointer;
}
.pagecont .producttable .actionsdiv {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 100%;
}
.pagecont .producttable .actionsdiv:hover {
  background: var(--light);
}
.pagecont .producttable .actionsdiv:hover .actionsicon {
  color: var(--admincolor);
}
.pagecont .producttable .actionsdiv .actionsicon {
  font-size: 17px;
  color: #555;
  transition: all 0.2s;
}
.pagecont .producttable .optscont {
  position: absolute;
  top: -3px;
  left: -90px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  background: #fff;
  box-shadow: var(--shadow);
  z-index: 10;
  border-radius: 5px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.pagecont .producttable .optscont.show {
  left: -110px;
  visibility: visible;
  opacity: 1;
}
.pagecont .producttable > .content .optscont > div {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  flex-basis: auto;
}
.pagecont .producttable .optscont > div.disabled {
  pointer-events: none;
  opacity: 0.2; 
}
.pagecont .producttable .optscont > div:hover {
  background: var(--light);
}
.pagecont .producttable .optscont > div:hover i {
  color: var(--admincolor);
}
.pagecont .producttable .optscont > div i {
  font-size: 14px;
  color: var(--graytxt);
}
.pagecont .foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 0 10px 0;
}
.pagecont .foot h5 {
  font-weight: 500;
  color: #555;
}
.pagecont .foot h5 span {
  font-weight: 600;
}
.adminhomecont .pagetitle {
  font-size: 18px;
  color: #555;
}

.pagecont .pagemaincontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  width: 600px; 
}
.pagecont .pagemaincontent .commoninput h6 {
  margin-bottom: 8px;
  font-size: 13px;
  color: var(--graytxt);
}
.pagecont .pagemaincontent input,
.pagecont .pagemaincontent select,
.pagecont .pagemaincontent textarea {
  border-radius: 10px;
  border: 1px solid #eee;
  background: #f5f5f5;
}
.pagecont .pagemaincontent textarea {
  min-height: 90px;
  max-height: 150px;
  max-width: 100%;
  min-width: 100%;
}
.pagecont .generatecont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pagemaincontent .adminbtn {
  display: inline-flex;
}
.pagemaincontent .adminbtn span {
  font-size: 13px;
}

.pagemaincontent .appinput.couponcode input {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
}
.pagemaincontent > h4 {
  color: var(--graytxt);
  margin-bottom: 20px;
  margin-top: 10px;
}
.pagemaincontent .inprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagemaincontent .inprow input,
.pagemaincontent .inprow select {
  width: 400px;
}

/*Dark mode styles */
.adminapp.darkmode .adminhomecont {
  background: var(--dark1)
} 