.adminhomecont {
  background: var(--adminbg);
  padding: 20px;
  padding-top: 90px;
  width: 100%;
  height: 100vh;
}
.maincontent {
  width: 100%;
  height: 100%;
}

/*Dark mode styles */
.adminapp.darkmode .adminhomecont {
  background: var(--dark1)
} 