.accountorderspage .switchbar {
  width: 100%;
  display: flex;
  gap: 25px;
}
.accountorderspage .switchbar {
  border-bottom: 1px solid #ddd;
}
.accountorderspage .switchbar a {
  font-size: 14px;
  padding: 10px 0;
  color: var(--graytxt);
  text-transform: capitalize;
  transition: all 0.2s;
}
.accountorderspage .switchbar a hr {
  position: absolute;
  bottom: -1px;
  width: 0;
  left: 0;
  right: 0;;
  margin: auto;
  height: 2px;
  background: var(--color);
  transition: all 0.2s;
}
.accountorderspage .switchbar a:hover, 
.accountorderspage .switchbar a.activemenulink {
  color: var(--color);
}
.accountorderspage .switchbar a:hover hr, 
.accountorderspage .switchbar a.activemenulink hr {
  width: 100%;
}
.accountorderspage .filtersbar {
  width: 100%;
  padding: 20px  0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.accountorderspage .filtersbar h6 {
  font-size: 13px;
  color: var(--graytxt);
  font-weight: 500;
}
.accountorderspage .filtersbar .appselect select {
  padding: 5px;
}
.accountorderspage .orderscontent {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  padding: 20px 0;
  gap: 15px;
}