.paymentscontent {
  padding: 20px 0;  
}
.paymentscontent .appaccordion h6 {
  color: #333;
  font-size: 12px;
}
.paymentscontent .appaccordion span {
  font-size: 15px;
  color: #777;
  font-weight: 500;
}
.paymentscontent .appaccordion .header {
  background: #f1f1f1;
  padding: 10px;
  height: 60px;
}
.paymentscontent .appaccordion .content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.paymentscontent .appaccordion .space-between {
  margin-top: 20px;
  padding: 0 10px;
}
.paymentscontent .space-between > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.paymentscontent .space-between > div small {
  display: block;
}
.paymentscontent > h4.titlerow {
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}