.paymentscontent {
  padding: 20px 0;  
}
.paymentscontent .appaccordion h6 {
  color: #333;
  font-size: 12px;
}
.paymentscontent .appaccordion span {
  font-size: 15px;
  color: #777;
  font-weight: 500;
}
.paymentscontent .appaccordion .header {
  background: #f1f1f1;
  padding: 10px;
  height: 60px;
}
.paymentscontent .appaccordion .content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.paymentscontent .appaccordion .space-between {
  margin-top: 20px;
  padding: 0 10px;
}
.paymentscontent .space-between > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.paymentscontent .space-between > div small {
  display: block;
}
.paymentscontent > h4.titlerow {
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paymentscontent .appaccordion .btnscont {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.paymentscontent .appaccordion .btnscont .appbutton {
  padding: 7px 10px;
}
.paymentscontent .appaccordion .btnscont .appbutton span {
  font-size: 11px;
  color: #fff;
}

.addcardcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.addcardcover.show {
  visibility: visible;
  opacity: 1;
}
.addcardcont {
  width: 650px;
  background: #fff;
  padding: 20px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.addcardcont .fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  z-index: 10;
}
.addcardcont > h4 {
  color: #555;
}
.addcardcont .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.addcardcont .main .infocont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
}
.addcardcont .cardscont {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 200px;
  gap: 50px;
}
.addcardcont .cardscont h5 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.addcardcont .carddetector img {
  width: 70px;
  margin-top: 5px;
}
.addcardcont .acceptcont, .addcardcont .carddetector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.addcardcont .acceptcont img {
  height: 30px;
}
.addcardcont .appinput {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addcardcont .appinput h6 {
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
  width: 190px;
}
.addcardcont .appinput input {
  padding: 6px 10px;
}
.addcardcont .selectscont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addcardcont .selectscont h6 {
  margin-right: 5px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
}
.addcardcont .selectscont > div {
  display: flex;
  align-items: center;
  gap: 3px;
}
.addcardcont select {
  padding: 6px;
}
.addcardcont .btnscont {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.addcardcont .btnscont .cancelbtn {
  background: none;
  border: 1px solid #333;
  color: #333;
}
.addcardcont .btnscont .cancelbtn:hover {
  background: #333;
  color: #fff;
}
.addcardcont .addresscont {
  margin-top: 10px;
}
.addcardcont .addresscont h5 {
  font-weight: 500;
  margin-bottom: 5px;
}
.transactioncont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}
.transactioncont .transdiv {
  border: 1px solid #ddd;
  width: 100%;
}
.transactioncont .transdiv .header {
  padding: 15px;
  background: #f1f1f1;
}
.transactioncont .transdiv .header h5 {
  color: #444;
}
.transactioncont .transdiv .content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.transactioncont .transdiv .content > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.transactioncont .transdiv .content h6 {
  font-size: 13px;
  font-weight: 500;
}
.transactioncont .transdiv .content a {
  font-size: 13px;
  color: var(--color);
}
.transactioncont .transdiv .content a:hover {
  text-decoration: underline;
}
.transactioncont .transdiv .content h6:last-child {
  color: #777;
}
.transactioncont .transdiv .content h5 {
  font-size: 15px;
  color: #444;
}