.myaccountcont {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 30px;
  align-items: flex-start;
}
.myaccountsidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.myaccountsidebar .menu {
  display: flex;
  flex-direction: column;
}
.myaccountsidebar .menu a {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px;
  color: var(--graytxt);
  transition: all 0.2s;
  cursor: pointer;
}
.myaccountsidebar .menu a.activemenulink,
.myaccountsidebar .menu a:hover {
  background: rgba(59, 193, 255, 0.1);
  color: var(--color);
}
.myaccountsidebar .menu a i {
  margin-right: 10px;
}
.myaccountsidebar .appbutton i {
  font-size: 15px;
}
.myaccountcontent {
  width: 100%;
  background: #fff;
}
.myaccountcontent h3.accounttitle {
  font-size: 21px;
  color: #444;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1/-1;
  gap: 20px;
}
.addressescont {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.addaddresscont form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.addaddresscont form .appinput,
.addaddresscont form .appbutton,
.addaddresscont form .appselect {
  grid-column: 1/-1;
}
.addaddresscont form .appinput.halfwidth {
  grid-column: 1;
}

.myaccountcont .switchbar {
  width: 100%;
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #ddd;
}
.myaccountcont .switchbar a {
  font-size: 14px;
  padding: 10px 0;
  color: var(--graytxt);
  text-transform: capitalize;
  transition: all 0.2s;
}
.myaccountcont .switchbar a hr {
  position: absolute;
  bottom: -1px;
  width: 0;
  left: 0;
  right: 0;;
  margin: auto;
  height: 2px;
  background: var(--color);
  transition: all 0.2s;
}
.myaccountcont .switchbar a:hover, 
.myaccountcont .switchbar a.activemenulink {
  color: var(--color);
}
.myaccountcont .switchbar a:hover hr, 
.myaccountcont .switchbar a.activemenulink hr {
  width: 100%;
}
