.ordertrackercover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}
.ordertrackercover.show {
  visibility: visible;
  opacity: 1;
}
.ordertrackercont {
  width: 1200px;
  height: 80%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.ordertrackercont .tracktitles {
  width: 100%;
}
.ordertrackercont .tracktitles h3 {
  color: #333;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordertrackercont .tracktitles .closecont {
  padding: 5px;
  z-index: 10;
  font-size: 30px;
  color: #777; 
  cursor: pointer;
}
.ordertrackercont .trackingdetails {
  min-width: 450px;
  display: grid;
  grid-template-columns: 120px auto;
  grid-gap: 15px;
  margin-bottom: 20px;
}
.ordertrackercont .trackingdetails img {
  width: 120px;
  height: 120px;
  background: red;
}
.ordertrackercont .trackingdetails .infocont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ordertrackercont .trackingdetails .infocont h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #444;
}
.ordertrackercont .trackingdetails .infocont h6 span {
  font-weight: 500;
  color: #111;
}
.ordertrackercont .updatescont {
  width: 100%;
}
.ordertrackercont .updatescont h4 {
  font-weight: 600;
  color: #444;
}
.ordertrackercont .updatestable {
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.ordertrackercont .updatestable .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.ordertrackercont .updatestable .header h5 {
  color: #000;
  font-weight: 500;
  flex-basis: 12%;
}
.ordertrackercont .updatestable .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.ordertrackercont .updatestable .updaterow h6 {
  color: #333;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  flex-basis: 12%;
}
.ordertrackercont .updatestable .updaterow h6 span {
  color: #aaa;
}
.ordertrackercont .updatestable .updaterow {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordertrackercont .updatestable .noupdates {
  font-size: 13px;
  margin-top: 20px;
  width: 100%;
  font-weight: 500;
}