.homebanner {
  width: 100%;
  height: 70vh;
}
.homebanner .bannerbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e4f1f7;
  background-position: 50px center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.homebanner .bannerbg.active {
  visibility: visible;
  opacity: 1;
  background-position: center;
}
.homebanner .grid {
  height: 100%;
}
.homebanner .bannerslidecont {
  height: 100%;
  width: 100%;
}
.homebanner .titlescont {
  position: absolute;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.homebanner .titlescont.active {
  visibility: visible;
  opacity: 1;
}
.homebanner .titlescont h5 {
  text-transform: uppercase;
  color: var(--graytxt);
  font-size: 19px;
  font-weight: 300;
  filter: opacity(0.8);
  left: -60px;
  opacity: 0;
  transition: all 0.4s;
}
.homebanner .titlescont h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
  margin: 15px 0;
  color: #333;
  left: -60px;
  opacity: 0;
  transition: all 0.4s;
}
.homebanner .titlescont .btnscont {
  margin-top: 20px;
  top: -40px;
  opacity: 0;
  transition: all 0.4s;
}
/* Slides Animation */
.homebanner .titlescont.active h5 {
  left: 0;
  opacity: 1;
  transition: all 0.7s;
  transition-delay: 0.5s;
}
.homebanner .titlescont.active h1 {
  left: 0;
  opacity: 1;
  transition: all 0.7s;
  transition-delay: 1s;
}
.homebanner .titlescont.active .btnscont {
  top: 0;
  opacity: 1;
  transition: all 0.7s;
  transition-delay: 1.5s;
}
.bannernav {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 15px;
}
.bannernav small {
  font-size: 14px;
  color: var(--graytxt);
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}
.bannernav small hr {
  width: 100%;
  height: 1px;
  background: var(--color);
  opacity: 0;
}
.bannernav small.active {
  color: var(--color);
  transform: scale(1.2);
}
.bannernav small.active hr {
  opacity: 1;
}
.bannernav small:hover {
  color: var(--color);
}
.homebanner .slideprogbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: rgba(59, 193, 255, 0.4);
  z-index: 100;
  transition: width 0s;
}
.homebanner .slideprogbar.active {
  width: 100%;
}

@media (max-width: 800px) {
  .homebanner .titlescont {
    width: 100%;
    align-items: center;
  }
  .homebanner .titlescont h1 {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }
  .bannernav {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .homebanner .titlescont h1 {
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }
}