.homebanner {
  width: 100%;
  height: 70vh;
}
.homebanner .bannerbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.homebanner .grid {
  height: 100%;
}
.homebanner .titlescont {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homebanner .titlescont h5 {
  text-transform: uppercase;
  color: var(--graytxt);
  font-size: 19px;
  font-weight: 300;
  opacity: 0.8;
}
.homebanner .titlescont h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
  color: #333;
}
.homebanner .titlescont .btnscont {
  margin-top: 20px;
}
.bannernav {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 15px;
}
.bannernav small {
  font-size: 14px;
  color: var(--graytxt);
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}
.bannernav small hr {
  width: 100%;
  height: 1px;
  background: var(--color);
  opacity: 0;
}
.bannernav small.active {
  color: var(--color);
  transform: scale(1.2);
}
.bannernav small.active hr {
  opacity: 1;
}
.bannernav small:hover {
  color: var(--color);
}

@media (max-width: 800px) {
  .homebanner .titlescont {
    width: 100%;
    align-items: center;
  }
  .homebanner .titlescont h1 {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }
  .bannernav {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .homebanner .titlescont h1 {
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }
}