html, body {
  margin: 0;
  padding: 0;
  font-family: var(--fontfam);
  overflow: overlay;
}    
body {
  overflow: hidden;
  height: 100%;
}
  
:root { 
  --fontfam: Poppins;
  --color: #3bc1ff;
  --admincolor: #0088ff;
  --adminbg: #fbfcfe;
  --light: #badeff4b;
  --graytxt: #696e93;
  --red: #ff384c;
  --lightred: #ffaeb663;
  --green: #8eec00;
  --orange: #f5c136;
  --shadow: 0 0 6px rgba(0,0,0,0.1);
  --white1: #fff;
  --white2: #fff;
  --dark1: #141719;
  --dark2: #191e22;
  --theme1: #584053; 
  --theme2: #f97b4f;
  --theme3: #fcbc66;
  --theme4: #8dc6bf;
}  
.grid {
  width: 1320px; 
  margin: auto;
}
.xgrid {
  padding: 50px 0;
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: #222;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-thumb {
  background: #333;
}
.bluescrollbar::-webkit-scrollbar-thumb {
  background: var(--color);
}
.bluescrollbar::-webkit-scrollbar {
  width: 7px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}
a { 
  text-decoration: none;
  color: #111;
}
a.hoverable:hover {
  text-decoration: underline;
}
p {
  line-height: 1.8;
}
input, select, textarea {
  padding: 13px 10px;
  border: 1px solid #ddd; 
  width: 100%;
  outline: none;
  transition: all 0.3s;
  font-family: inherit;
} 
input::placeholder, textarea::placeholder {
  color: #bbb;
}
input:disabled {
  background: #e5e5e5
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.sectionflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appcontainer.noscroll {
  overflow-y: hidden;
  height: 100vh;
}
.commoninput h6 {
  cursor: auto;
}
a.hide {
  display: none;
}
.notifscont {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.errorpage h1 {
  font-size: 40px;
  color: #111;
}
.errorpage h6 {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}
.errorpage img {
  width: 600px;
}
.errorpage button {
  padding: 15px 25px;
  font-size: 16px;
  color: #fff;
  background: var(--admincolor);
}
.errorpage button:hover {
  filter: brightness(110%);
  box-shadow: 0 6px 10px #0088ff2f;
}

@media (max-width: 1400px) {
  .grid {
    width: 95%;
  }
}