html, body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}    
 
:root { 
  --color: #3161ff; 
  --graytxt: #696e93;
  --blue: #51b1ff;
  --yellow: #fbd04b;
  --red: #fc5185;
  --green: #8dd900;
  --shadow: 0 0 6px rgba(0,0,0,0.1);
  --white1: #fff;
  --white2: #fff; 
  --dark1: #0d1117;
  --dark2: #161b22;
  --grad: linear-gradient(90deg, rgba(49,97,255,1) 0%, rgba(87,168,252,1) 100%);
  --hoverable: 0px 14px 25px 0px rgba(49,97,255,0.2); 
}  
/*
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('./fonts/Raleway-Medium.ttf') format('truetype');
} 
*/
.grid {
  width: 1300px;
  margin: auto;
}
.xgrid {
  padding: 50px 0;
}
.lgrid {
  padding: 80px 0;
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  border-radius: 6px;
  padding: 12px 15px;
  background: var(--color);
  color: #fff;
} 
button:active {
  transform: scale(0.97);
}
button.hoverable:hover {
  box-shadow: var(--hoverable);
} 
button i {
  margin-right: 10px;
}
button.black {
  background: #222;
  border-color: #222;
}
button.black:hover {
  background: #333;
  border-color: #333;
}
a { 
  text-decoration: none;
  color: #111;
}
p {
  line-height: 1.8;
}
input, select, textarea {
  padding: 13px 10px;
  border: 1px solid #ddd; 
  width: 100%;
  border-radius: 5px;
} 
input, textarea, select {
  outline: none;
  transition: all 0.3s;
  font-family: inherit;
}
input::placeholder, textarea::placeholder {
  color: #bbb;
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.linkable:hover {
  text-decoration: underline;
  color: var(--color);
}
.sectionflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 1400px) {
  .grid {
    width: 95%;
  }
}