html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  overflow: overlay;
}    
body {
  overflow: hidden;
  height: 100%;
}
  
:root { 
  --color: #3bc1ff;
  --admincolor: #0088ff;
  --adminbg: #fbfcfe;
  --light: #badeff4b;
  --graytxt: #696e93;
  --red: #ff384c;
  --green: #8eec00;
  --orange: #f5c136;
  --shadow: 0 0 6px rgba(0,0,0,0.1);
  --white1: #fff;
  --white2: #fff;
  --dark1: #141719;
  --dark2: #191e22;
  --theme1: #584053; 
  --theme2: #f97b4f;
  --theme3: #fcbc66;
  --theme4: #8dc6bf;
}  
.grid {
  width: 1320px; 
  margin: auto;
}
.xgrid {
  padding: 50px 0;
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: #222;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-thumb {
  background: #333;
}
.bluescrollbar::-webkit-scrollbar-thumb {
  background: var(--color);
}
.bluescrollbar::-webkit-scrollbar {
  width: 7px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}
a { 
  text-decoration: none;
  color: #111;
}
p {
  line-height: 1.8;
}
input, select, textarea {
  padding: 13px 10px;
  border: 1px solid #ddd; 
  width: 100%;
  outline: none;
  transition: all 0.3s;
  font-family: inherit;
} 
input::placeholder, textarea::placeholder {
  color: #bbb;
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.sectionflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appcontainer.noscroll {
  overflow-y: hidden;
  height: 100vh;
}
.adminbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 7px 10px;
  height: 40px;
  transition: all 0.2s;
  cursor: pointer;
}
.adminbtn:hover {
  background: var(--admincolor);
}
.adminbtn:hover span, .adminbtn:hover h6, .adminbtn:hover i {
  color: #fff;
}
.adminbtn span, .adminbtn h6 {
  color: var(--graytxt);
  font-size: 14px;
}
.adminbtn i {
  color: var(--graytxt);
}
.adminbtn.solid {
  background: var(--admincolor);
}
.adminbtn.solid:hover {
  filter: brightness(115%);
}
.adminbtn.solid span, .adminbtn.solid i {
  color: #fff;
}
.adminbtn.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.adminbtn.iconbtn {
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
.adminbtn.solid.deletebtn {
  background: var(--red);
}
.adminbtn.iconbtn.delete:hover {
  background: var(--red);
}
.commoninput h6 {
  cursor: auto;
}
a.hide {
  display: none;
}
.notifscont {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

@media (max-width: 1400px) {
  .grid {
    width: 95%;
  }
}