.cartpage .cartgrid {
  display: grid;
  grid-template-columns: auto 270px;
  align-items: flex-start;
  grid-gap: 50px 70px;
}
.maincartcont {
  width: 100%;
  display: flex;
  flex-direction: column; 
}
.carttable {
  width: 100%;
  min-height: 300px;
}
.cartactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.cartactions .appbutton {
  padding: 15px 20px;
}
.cartactions .couponcont {
  display: flex;
  align-items: center;
}
.cartactions .couponcont input {
  padding: 14px 20px;
  padding-left: 12px;
  text-transform: uppercase;
}
.cartactions > div {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.carttotalscont {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 20px;
}
.carttotalscont h5 {
  font-weight: 500;
  font-size: 16px;
}
.carttotalscont > div {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.carttotalscont > div:first-child {
  padding-top: 0;
}
.carttotalscont h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  font-size: 14px;
}
.carttotalscont h6 span {
  font-weight: 500;
}
.carttotalscont h6 small {
  font-size: 15px;
}
.carttotalscont .shipping > h6 {
  align-items: flex-start;
}
.carttotalscont .shipoptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}
.carttotalscont .shipoptions .appinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carttotalscont .shipoptions .appinput h6 {
  font-size: 13px;
  color: #333;
}
.carttotalscont .shipoptions .appinput i {
  display: none;
}
.carttotalscont .shipoptions input {
  width: 20px;
  margin-right: 10px;
}
.carttotalscont .appbutton {
  margin-top: 20px;
  width: 100%;
}

@media (max-width:1200px) {
  .maincartcont, .carttotalscont {
    grid-column: 1/-1;
  }
}