.cartpage .cartgrid {
  display: grid;
  grid-template-columns: auto 290px;
  align-items: flex-start;
  grid-gap: 50px;
}
.maincartcont {
  width: 100%;
  display: flex;
  flex-direction: column; 
}
.carttable {
  width: 100%;
}
.cartactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.cartactions .appbutton {
  padding: 15px 20px;
}
.cartactions .couponcont {
  display: flex;
  align-items: center;
}
.cartactions .couponcont input {
  padding: 14px 20px;
  padding-left: 12px;
  text-transform: uppercase;
}
.cartactions > div {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.carttotalscont {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 20px;
}
.carttotalscont h5 {
  font-weight: 500;
  font-size: 16px;
}
.carttotalscont > div {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.carttotalscont > div:first-child {
  padding-top: 0;
}
.carttotalscont h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  font-size: 14px;
}
.carttotalscont h6 span {
  font-weight: 500;
}
.carttotalscont h6 small {
  font-size: 15px;
}
.carttotalscont .shipping > h6 {
  align-items: flex-start;
}
.carttotalscont .shipoptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}
.carttotalscont .shipoptions .appinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carttotalscont .shipoptions .appinput h6 {
  font-size: 13px;
  color: #333;
}
.carttotalscont .shipoptions .appinput i {
  display: none;
}
.carttotalscont .shipoptions input {
  width: 20px;
  margin-right: 10px;
}
.carttotalscont .appbutton {
  margin-top: 20px;
  width: 100%;
}
.emptycartcont .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.emptycartcont .grid h5 {
  font-size: 18px;
  color: #444;
}
.savedlatercont h3 {
  margin-bottom: 40px;
  color: #444;
}
.editprodcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.editprodcover.show {
  visibility: visible;
  opacity: 1;
}
.editprodcont {
  width: 850px;
  height: 180px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.editprodcont h3 {
  color: #333;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editprodcont .closeicon {
  cursor: pointer;
  font-size: 30px;
  color: #777;
}
.editprodcont .appbutton {
  width: 120px;
}
.editprodcont .productrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editprodcont .productrow > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.editprodcont .productrow img {
  height: 80px;
  width: 70px;
}
.editprodcont .productrow .infodiv > div {
  display: flex;
  flex-direction: column;
}
.editprodcont .productrow h4 {
  color: #333;
  font-weight: 500;
  font-size: 15px;
}
.editprodcont .productrow small {
  display: block;
  font-size: 13px;
  color: #777;
}
.editprodcont .productrow .appselect select {
  background: #f1f1f1;
  border: 1px solid #eee;
  height: 50px;
}
.editprodcont .productrow .appselect {
  display: flex;
  align-items: center;
  gap: 10px;
}
.editprodcont .productrow .appselect h6 {
  color: #333;
  font-weight: 500;
  font-size: 13px;
}
.cartitem .prodname h5:hover {
  text-decoration: underline;
}

@media (max-width:1200px) {
  .maincartcont, .carttotalscont {
    grid-column: 1/-1;
  }
}