.campaignpage .pagecont {
  display: flex;
  flex-direction: column;
}
.campaignpage .titles i {
  font-size: 35px;
  color: var(--admincolor);
  margin-bottom: 10px;
}
.campaignpage .titles h4 {
  font-size: 20px;
  color: var(--graytxt);
}