.onecustomerpage .pagecont {
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 30px;
  align-items: flex-start;
  padding: 30px 50px;
}
.onecustomerpage .pagecont > div {
  display: flex;
  flex-direction: column;
}
.onecustomerpage .left img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.onecustomerpage .left .section {
  margin-top: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.onecustomerpage .left .section h6,
.onecustomerpage .right .section h6 {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
  margin-bottom: 10px;
}
.onecustomerpage .left .section h5 {
  font-weight: 500;
  color: #333;
  font-size: 14.5px;
}
.onecustomerpage .left .section h5.name {
  font-size: 16px;
}
.onecustomerpage .left .section h5 i {
  margin-right: 15px;
}
.onecustomerpage .left .section span.upper {
  text-transform: uppercase;
}
.onecustomerpage .left .section.data h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onecustomerpage .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.onecustomerpage .right .actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.onecustomerpage .right .userrating {
  display: flex;
  align-items: center;
  gap: 15px;
}