.editcustomerpage .appinput.currencyinp::after {
  content: '$';
  position: absolute;
  right: 350px;
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.editcustomerpage .appinput.currencyinp input {
  padding-left: 60px;
  font-size: 15px;
}
.editcustomerpage .appinput.currencyinp h6 {
  margin-bottom: 0;
}
.editcustomerpage .profilecont {
  margin-bottom: 20px;
}
.editcustomerpage .profilecont .profimgcont {
  width: 150px;
  height: 150px;
}
.editcustomerpage .profilecont .profimgcont .iconcont {
  opacity: 1;
}
