.reviewspage .producttable .proditem h5 span {
  background: var(--light);
  color: var(--admincolor);
  padding: 5px 8px;
  border-radius: 5px;
}
.reviewspage .producttable .proditem h5 span.notapproved {
  background: var(--lightred);
  color: var(--red);
}
.reviewspage .pagecont {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reviewspage .prodimgcont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviewspage .prodimgcont h4 {
  color: #555;
}
.reviewspage .prodimgcont h5 {
  color: #aaa;
  font-weight: 500;
}
.reviewspage .prodimgcont img {
  width: 75px;
  height: 100px;
}
.reviewspage .titlerow .ratingscont i {
  font-size: 20px;
}
.reviewspage .titlerow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewspage .titlerow h4 {
  font-size: 27px;
  color: var(--graytxt);
  font-weight: 500;
}
.reviewspage .reviewbody {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.reviewspage .reviewbody img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.reviewspage .reviewbody .content {
  width: 100%;
}
.reviewbody h5.nametitle {
  color: #333;
  font-size: 18px;
}
.reviewbody h6 {
  font-size: 14px;
  color: #777;
}
.reviewbody .reviewtext {
  font-size: 15px;
  color: #555;
}
.reviewspage .reviewbody small {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
.reviewspage .reviewactions {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}